@use '../modules/vars'

.navbar
    &__search-button
        background-color: vars.$bg-element-color !important
        border-color: vars.$bg-element-color !important
        color: #bfbfbf !important

        &:hover
            outline: 2px solid #7899B5 !important

        svg
            margin-right: 11px !important
            color: inherit !important