.gsc-control-cse .gsc-above-wrapper-area
    padding: 0 !important
    width: 100%
    max-width: var(--phpr-search-results-width)
    margin: 20px auto 0 auto !important

    table.gsc-above-wrapper-area-container, tbody
        display: block

    table.gsc-above-wrapper-area-container
        // results information label
        .gsc-result-info
            min-width: 220px
            font-size: .9rem !important
            color: var(--phpr-color-font-secondary) !important

        tr
            display: flex
            justify-content: space-between
            align-items: center

        td
            display: block

        .gsc-orderby-container
            width: 100%

        // Sort field label
        .gsc-orderby-label
            margin-right: 4px
            color: var(--phpr-color-font-secondary)

        // Sort field
        .gsc-selected-option-container
            background-color: transparent
            border: 1px solid var(--phpr-color-border)
            box-shadow: none
            border-radius: 4px
            font-size: .9rem
            font-weight: normal

            // Sort label inside select field
            .gsc-selected-option
                color: var(--phpr-color-font-secondary)

        // Select filter popup window
        .gsc-option-menu
            background-color: var(--phpr-color-page)
            border: 1px solid var(--phpr-color-border)
            border-radius: 5px
            padding: 0

            // Single option from popup window
            &-item
                color: var(--phpr-color-font)
                border-bottom: 1px solid var(--phpr-color-border)
                font-size: 1rem

                &:last-child
                    border-bottom: none

            &-item-highlighted
                background-color: rgba(0, 0, 0, .1)
