@use "sass:color"
@use 'modules/vars'

html
    background: vars.$background !important

body
    font-family: vars.$main-font !important
    font-size: 1.1rem !important

#toTop
    filter: invert(0.5) !important

#layout-content
    background-color: white !important

    a:link:not(.genanchor),
    a:visited:not(.genanchor)
        color: vars.$main-color
        border-bottom: 1px dotted vars.$main-color
        transition: color 200ms

        &:hover
            color: color.adjust(vars.$main-color, $lightness: 10%)