html
    background: var(--phpr-color-page) !important

body
    // JavaScript will change opacity to 1 to make pages appear smoothly
    opacity: 0
    transition: opacity .3s
    font-family: var(--phpr-main-font) !important
    font-size: 1.1rem !important
    color: var(--phpr-color-font)

#toTop
    filter: invert(0.5) !important

#layout-content
    color: var(--phpr-color-font) !important

    a:link:not(.genanchor),
    a:visited:not(.genanchor)
        color: var(--phpr-color-link)
        border-bottom: 1px dotted var(--phpr-color-link)
        transition: color 200ms

        &:hover
            color: var(--phpr-color-link-lighter)
