@use 'modules/vars'
@use 'modules/mixins'

body.downloads
    #layout-content
        .code-toolbar
            box-shadow: none

            .toolbar
                border: none

            pre
                @include mixins.php-code-window
                padding: 30px !important

                & > code
                    @include mixins.php-code
