@use 'modules/mixins'

body.downloads
    #layout-content
        h1, h2, h3, h4, h5, h6
            @include mixins.heading

        .instructions
            &-form
                margin: 16px 0

            &-row
                select
                    border: 1px solid var(--phpr-color-border)
                    background-color: var(--phpr-color-page)
                    color: var(--phpr-color-font)
                    border-radius: 6px
                    padding: 1px 4px

        // Code block
        .code-toolbar
            box-shadow: none

            .toolbar
                border: none
                position: absolute
                left: 0
                right: 0
                display: flex
                justify-content: end

                &-item:first-child span
                    color: white
                    opacity: .6
                    color: var(--phpr-color-font)

                &-item:nth-child(2) .copy-to-clipboard-button
                    padding: 4px 12px !important
                    background: none !important
                    color: var(--phpr-color-font) !important
                    border: 1px solid transparent
                    transition: border-color 300ms

                    &:hover
                        border-color: var(--phpr-color-border-hover) !important

            pre
                @include mixins.php-code-window
                padding: 30px !important

                > code
                    @include mixins.php-code
