.footer-content
    padding-bottom: 20px
    margin: 0 auto !important
    
    .footmenu
        li
            position: relative

            &::after
                content: "-"
                position: absolute
                color: var(--phpr-color-link-light)
                right: -17px

            &:last-child
                &::after
                    content: none !important

            a
                color: var(--phpr-color-font) !important
                transition: opacity .2s
                opacity: .7

                &:hover
                    opacity: 1

@media(max-width: 900px)
    .footer-content
        padding: 0 7px 20px 7px !important

        .footmenu
            li
                display: block
                border-bottom: 1px solid var(--phpr-color-border)

                &::after
                    content: none !important

                &:last-child
                    border-bottom: none
