@use 'modules/mixins'

// You can find it on https://www.php.net/manual/en/function.array-filter.php

$border-radius: 10px
$padding: 12px

table.doctable
    border: 1px solid var(--phpr-color-border)
    border-collapse: inherit
    border-radius: $border-radius
    table-layout: auto

    a:link:not(code a),
    span.type a
        @include mixins.link(true)

    code
        @include mixins.inline-code

    *
        border: none

    > caption
        margin: 11px auto

    tr
        background: transparent !important
        border: none

    thead tr th
        background-color: var(--phpr-color-main)
        padding: $padding
        color: white
        font-weight: normal

        &:first-child
            border-radius: $border-radius 0 0 0

        &:last-child
            border-radius: 0 $border-radius 0 0

    tbody
        tr
            td
                vertical-align: middle
                padding: $padding
                word-wrap: break-word
                word-break: break-all
                background-color: var(--phpr-color-page)
                border-bottom: 1px solid var(--phpr-color-border)

                // This one appears on mobile screen
                &::before
                    background-color: var(--phpr-color-main)
                    border-bottom: none
                    border-radius: 6px
                    color: white

            &:last-child td
                border-bottom: none

                &:first-child
                    border-radius: 0 0 0 $border-radius

                &:last-child
                    border-radius: 0 0 $border-radius 0
