#layout
    #layout-content
        background-color: transparent !important
        padding: 13px 0 0 0 !important
        border: none !important

        & > h1
            color: white
            margin-bottom: 10px

            &:after
                border: none

        & > p
            color: white

        & > hr
            display: none

        .newsItem,
        .newsentry
            border-radius: 10px
            border: 1px solid #ddd
            margin-bottom: 25px
            padding: 25px
            background-color: #eaedef

            &:last-child
                margin-bottom: 0

            .newsImage a,
            .newsimage a
                border: none !important

            .newsImage img,
            .newsimage img
                margin: 15px
                background-color: #02020224
                border-radius: 10px
                padding: 10px

            header
                .newstitle
                    margin-bottom: .5rem

                    &:after
                        border-bottom: none !important

                    a
                        border-bottom: none !important
                        font-size: 1.8rem
                        color: #555
                        font-weight: bold