.example-contents .phpcode,
.example-contents.screen.screen
    background-color: #313542 !important
    padding: 70px 15px 20px 15px !important
    padding-top: 40px !important
    border-radius: 5px !important
    position: relative

    &:before
        content: ""
        display: block
        width: 60px
        height: 20px
        background-image: url(images/buttons.png)
        background-repeat: no-repeat
        background-position: center
        position: absolute
        top: 10px
        left: 12px

.example-contents
    .phpcode
        code
            font-family: 'Ubuntu Mono', monospace
            font-size: 16px

        span[style*="color: #0000BB"]
            color: #acbff5 !important

        span[style*="color: #DD0000"]
            color: #a1d7f0 !important

        span[style*="color: #007700"]
            color: #80d9c2 !important

        span[style*="color: #FF8000"]
            color: #797979 !important

        span
            line-height: 28px

.example-contents.screen
    pre
        color: #eee5be !important