table.standard
    border-collapse: inherit
    border-radius: 3px
    border: 1px solid #606060
    border-bottom: none
    border-left: none

    th
        padding: 8px 11px
        color: #333
        border-bottom: 1px solid #606060 !important
        border-left: 1px solid #606060 !important

    td
        border-bottom: 1px solid #606060 !important
        border-left: 1px solid #606060 !important

    tr:nth-child(2n) td.subr,
    tr:nth-child(2n) th.subr,
    tr td.subr,
    tr th.subr,
    tr:nth-child(2n) td.sub,
    tr:nth-child(2n) th.sub,
    tr td.sub,
    tr th.sub,
    tr:nth-child(2n) td
        background-color: #E5ECE9