table.standard
    border-collapse: inherit !important
    border-radius: 3px !important
    border: 1px solid #606060 !important
    border-bottom: none !important
    border-left: none !important

    th
        padding: 8px 11px !important
        color: #333 !important
        border-bottom: 1px solid #606060 !important
        border-left: 1px solid #606060 !important

    td
        border-bottom: 1px solid #606060 !important
        border-left: 1px solid #606060 !important

    tr:nth-child(2n) td.subr,
    tr:nth-child(2n) th.subr,
    tr td.subr,
    tr th.subr,
    tr:nth-child(2n) td.sub,
    tr:nth-child(2n) th.sub,
    tr td.sub,
    tr th.sub,
    tr:nth-child(2n) td
        background-color: #E5ECE9 !important