@use '../../modules/mixins'

#usernotes #allnotes
    .note
        .text
            background: transparent !important
            box-shadow: none !important

        .phpcode
            @include mixins.php-code-window

            code
                @include mixins.php-code

        .text
            margin-top: 7px
            box-shadow: none
            padding: 0
