@use '../../modules/vars'
@use '../../modules/mixins'

#usernotes
    .note
        .phpcode
            @include mixins.php-code-window

            code
                @include mixins.php-code

        .text
            margin-top: 7px
            box-shadow: none
            padding: 0

        .votes
            .usernotes-voted
                border-bottom: 0 !important
