@use "sass:color"
@use '../../modules/vars'

#usernotes
    .head
        .action

            a
                display: inline-block
                color: color.adjust(vars.$main-color, $lightness: 5%)
                border: none !important
                background-color: transparent !important
                padding: 2px 12px
                border-radius: 0
                transition: background-color 100ms

                &:hover,
                &:focus,
                &:active
                    border-bottom: none

                img
                    transform: translate(-3px, 2px)

        .title .count
            background-color: vars.$main-color
            padding: 2px 5px