$main-color: #355c7d
$main-color-lighter: #4677a3
$main-color-light: #7899B5
$main-color-hover: #284a68
$bg-element-color: #1d2a37
$background: #15202b
$classic-color: #7a86b8
$classic-color-hover: #5c6ca9

$light-color: #e2e4ec
$dark-color: #333333
$dark-color-hover: #222222
$primary-color: #793862
$font-light-color: #d3d6e4

$grey-color: #4a4a4a
$light-grey: #aaa9a9

$code-bg: #2b2e3a
$code-font-color: #f9f4de !important
$code-red: #b72c25 !important

$main-font: 'Lato', sans-serif
$code-font: 'Ubuntu Mono', monospace