.returnvalues
    .para
        strong
            code
                color: var(--phpr-code-red)
                font-weight: normal

        code.parameter
            color: var(--phpr-color-link) !important
            font-family: var(--phpr-font-main)
