@use '../modules/vars'

.returnvalues
    .para
        strong
            code
                color: vars.$code-red
                font-weight: normal

        code.parameter
            color: vars.$main-color !important
            font-family: vars.$main-font