.navbar
    background-color: $main-color-dark
    box-shadow: 1px 1px 6px rgba(0,0,0,.5)
    border: none

    .brand
        height: 1rem

        img
            filter: invert(1)

    .nav
        li
            line-height: 1.4rem

            a
                font-family: Droid Sans,Helvetica Neue,sans-serif
                font-size: 15px !important
                text-shadow: none
                color: #E2E4EF