.layout-menu
    ul
        li
            a
                border: none !important

                &::before
                    content: none !important

            &:nth-child(even)
                background-color: #7194b112 !important
                border-radius: 3px

            .header
                margin-top: 23px
                display: block
                padding: 5px 11px