@use '../modules/mixins'

.home
    .hero
        &__versions
            gap: 15px
            margin-top: 27px

        &__version
            display: inline-flex
            justify-content: center
            align-items: center
            padding: 2px 10px
            margin: 0
            gap: 8px
            border: none !important
            color: var(--phpr-color-link) !important
            user-select: none

            &-link
                font-size: 1.1em
                letter-spacing: 1px
                transition: color 100ms ease-in-out
                color: var(--phpr-color-link) !important

            &-link,
            a.notes
                font-size: .9rem
                text-transform: uppercase
                transition: transform 200ms ease !important
                @include mixins.link

                &:hover,
                &:focus,
                &:active
                    border: none
                    transform: translateY(-3px)

@media(max-width: 900px)
    .home
        .hero
            &__versions
                flex-direction: column
                gap: 2px
