.home
    .hero
        &__versions
            gap: 15px
            margin-top: 27px

        &__version
            display: inline-flex
            justify-content: center
            align-items: center
            gap: 8px
            border: none !important
            color: var(--phpr-color-link) !important
            transition: transform .2s ease
            user-select: none

            &:hover
                color: var(--phpr-color-link-hover)
                transform: translateY(-3px)

            &-link
                font-size: 1.1em
                letter-spacing: 1px
                transition: color 0.1s ease-in-out
                color: var(--phpr-color-link) !important

            a.notes
                font-size: 1rem
                text-transform: uppercase
                transition: color 0.2s ease-in-out
                color: var(--phpr-color-link)

            &-link,
            a.notes
                border: none !important

                &:hover,
                &:focus,
                &:active
                    border: none

@media(max-width: 900px)
    .home
        .hero
            &__versions
                flex-direction: column
                gap: 2px
