@keyframes php-revival-shadow-animation
    0%
        box-shadow: 0 -25px 70px rgba(120, 175, 230, .2)
    50%
        box-shadow: 0 -15px 50px rgba(120, 199, 230, .2)
    100%
        box-shadow: 0 -25px 70px rgba(120, 175, 230,.2)

body.home
    #layout-content
        background-color: transparent !important
        padding-top: 13px
        border: none !important
        padding-right: 30px !important

        .home-content
            .archive // pagination link that loads more news
                a:not(.genanchor)
                    color: $main-color-light
                    border-bottom: none

                    &:hover
                        color: $main-color-light-hover

            // News item
            .newsentry
                border-radius: 15px
                border: 1px solid #ddd
                margin-bottom: 20px !important
                padding: 30px
                background-color: #eaedef

                &:first-child
                    animation: php-revival-shadow-animation 2s infinite

                .newsimage
                    a
                        border: none !important

                    img
                        margin: 15px
                        background-color: #02020212
                        border-radius: 10px
                        padding: 10px

                header.title
                    position: initial
                    border: none
                    margin-bottom: 0
                    padding: 0
                    box-sizing: border-box

                    @include card-date

                .newstitle
                    display: inline
                    border: none
                    margin-bottom: 8px !important

                    a
                        border-bottom: none !important
                        font-size: 1.6rem
                        font-weight: bold
                        color: $main-color

                        &::after
                            content: none

                        &:hover
                            color: $main-color-hover

                .newscontent
                    padding: 20px 0
                    font-size: 1.2rem

                    h1
                        font-size: 1.2em

                    p
                        line-height: 1.8rem

                        &:last-child
                            margin-bottom: 0