body.home,
body.community
    #layout-content
        background-color: transparent !important
        padding-top: 13px
        border: none !important

        .home-content
            .archive // pagination link that loads more news
                a:link:not(.genanchor)
                    color: $main-color-light
                    border-bottom: none

                    &:hover
                        color: $main-color-light-hover

            // News item
            .newsentry
                border-radius: 15px
                border: 1px solid #ddd
                margin-bottom: 25px
                padding: 25px
                background-color: #eaedef

                &:first-child
                    animation: php-reivival-shadow-animation 2s infinite

                .newsimage
                    a
                        border: none !important

                    img
                        margin: 15px
                        background-color: #02020212
                        border-radius: 10px
                        padding: 10px

                header.title
                    position: initial
                    border: none
                    margin-bottom: 0
                    box-sizing: border-box

                    time
                        color: #575757
                        font-weight: normal
                        font-size: 16px
                        float: none
                        position: absolute
                        line-height: 19px
                        bottom: 15px
                        right: 22px

                        &::before
                            content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAOUlEQVR4nGNgGEDwH4qppY4+FvynEsYJRi34P2iCiFzwf9QCQmA0iAiC0SAaQkH0f8jWB6OAAR0AAMT6sU/eS6DuAAAAAElFTkSuQmCC')
                            position: absolute
                            left: -28px
                            top: -2px
                            opacity: .5

                .newstitle
                    display: inline
                    border: none
                    margin-bottom: 8px !important
                    padding: 0 20px

                    a
                        border-bottom: none !important
                        font-size: 1.6rem
                        font-weight: bold
                        color: $main-color

                        &::after
                            content: none

                        &:hover
                            color: $main-color-hover

                .newscontent
                    padding: 20px
                    font-size: 1.2rem

                    h1
                        font-size: 1.2em

                    p
                        line-height: 1.8rem

                        &:last-child
                            margin-bottom: 0