.php-revival-recommended-videos-section
    display: flex
    flex-direction: column
    gap: 35px


    &__tags
        display: flex
        gap: 12px
        flex-wrap: wrap
        margin: 20px 0

    &__tag
        background-color: var(--phpr-color-main)
        border-radius: 8px
        border: none
        outline: 2px solid transparent
        outline-offset: 1px
        padding: 5px 11px
        letter-spacing: 1px
        font-size: .8rem
        color: #eee
        text-transform: uppercase
        display: inline-block
        cursor: pointer

        &[data-active="true"]
            background-color: var(--phpr-color-page-darker)
            color: var(--phpr-color-font)
            outline-color: var(--phpr-color-border) 

        &:hover
            outline-color: var(--phpr-color-border)

    &__show-more
        margin-top: 20px
        display: block
        padding: 12px 20px
        background: none
        border: 2px dashed var(--phpr-color-font) !important
        border-radius: 50px
        color: var(--phpr-color-font)
        font-size: 16px
        text-transform: uppercase
        width: 80%
        margin-left: auto
        margin-right: auto
        outline: none
        transition: opacity .3s
        opacity: .6

        &:hover
            opacity: 1

    &__video
        display: block
        border: none !important
        color: var(--phpr-color-font) !important

        &:hover *,
        &:active *,
        &:focus *
            color: var(--phpr-color-font)

        &:hover img
            transform: scale(1.03)

        img
            border-radius: 7px
            display: block
            width: 100%
            transition: transform .3s

        span
            display: block
            margin-top: 10px
            font-size: 18px
            transition: color 200ms
            border: none !important

        small
            opacity: .7
            font-size: .9rem
