.navbar-search
    width: 300px !important
    margin-top: 9px !important
    position: relative

    .twitter-typeahead
        .tt-hint.search-query,
        .search-query.tt-query
            height: 29px !important
            caret-color: white
            border-radius: 5px
            background-color:  #1c3c58 !important
            text-shadow: none
            color: white

        .search-query.tt-input
            text-shadow: none
            color: white
            line-height: 1.5

        pre
            //

.php-revival-search-icon
    width: 21px
    height: 21px
    position: absolute
    left: -35px
    top: 50%
    transform: translateY(-50%)
    z-index: 5
    color: #bec8dc


@media (max-width: 767px)
    .navbar-search
        width: 100% !important
        float: none !important
        margin: 0 auto !important
        max-width: 400px

    .php-revival-search-icon
        display: none