.home
    .hero
        .hero-logo
            height: 185px
            max-width: 350px
            opacity: 0
            transition: opacity .5s ease-in-out
            filter: $shadow-on-dark

        .hero-text
            font-size: 1.3rem