.home .tips .inner
    .panel.social-media
        display: none

    .panel
        margin-bottom: 4px

        &:first-child
            margin-bottom: 25px

    a[href="/thanks.php"]::before
        background: url(https://serhiicho.github.io/php-revival-api/images/icons/thanks.png) no-repeat center

    a[href="/cal.php"]::before
        background: url(https://serhiicho.github.io/php-revival-api/images/icons/events.png) no-repeat center

    a[href="https://twitter.com/official_php"]::before
        background: url(https://serhiicho.github.io/php-revival-api/images/icons/twitter.png) no-repeat center

    a[href="/thanks.php"],
    a[href="/cal.php"],
    a[href="https://twitter.com/official_php"]
        position: relative
        display: block
        margin-left: 16px
        padding-left: 12px
        height: 28px
        font-size: 17px
        color: #eee

        i
            display: none

        &::before
            content: "" !important
            width: 20px
            height: 20px
            display: inline-block
            position: absolute
            left: -15px
            top: 2px
            background-size: cover

        &::after
            border: none