.contribute
    position: fixed
    top: 50%
    left: 50%
    z-index: 1031
    transform: translate(-50%, -50%)
    padding: 40px !important
    border: none !important
    border-radius: 10px !important
    background-color: white !important
    box-shadow: 0 0 0 3000px rgba(0, 0, 0, 0.5) !important

    .title
        padding: 0 !important
        border: none !important
        color: #555555 !important
        font-size: 1.5em !important
        margin-bottom: 30px !important

    .edit-bug
        display: flex !important
        flex-direction: column

        &::first-letter
            display: none

        a
            border: 1px solid #eee !important
            border-radius: 50px
            padding: 7px 25px
            background-color: #79b8b9
            color: white !important