.refentry
    .refnamediv
        h1.refname
            color: $main-color
            font-size: 32px

            &::after
                content: none

        p.verinfo,
        p.refpurpose
            color: $grey
            font-size: 15px

            .refname
                color: $main-color

            .dc-title
                font-style: italic