#layout-content
    blockquote.note,
    .warning,
    .caution,
    .tip
        box-shadow: none
        border-left-width: 4px !important
        border-left-style: solid !important
        border-radius: 0 5px 5px 0

        .note,
        .warning,
        .caution,
        .tip
            border-color: transparent
            background-color: transparent
            font-weight: bold

    blockquote.note
        background-color: #fdfdcd40
        border-left-color: #fdc856ad

    .warning
        background-color: #ffa5a51c
        border-left-color: #ca5353

    .caution
        background-color: #ffffa540
        border-left-color: #e8cc87

    .tip
        background-color: #c2d5f040
        border-left-color: #6b85cc