.classsynopsis,
.refsect1 .methodsynopsis
    background-color: var(--phpr-color-page) !important
    color: var(--phpr-color-font) !important
    border-radius: 12px !important
    padding: 20px
    border: 1px solid var(--phpr-color-border) !important

    *
        font-style: normal !important
        font-weight: normal !important
        border: none !important
        color: var(--phpr-color-font) !important

    // Keyword
    .modifier
        color: var(--phpr-code-color-keyword) !important

    // Regular font color
    .classname,
    .type
        color: var(--phpr-color-font) !important

    // String
    .initializer
        color: var(--phpr-code-color-string) !important

    // Functions and methods
    .methodname,
    .methodname *
        color: var(--phpr-code-color-entity) !important

    // Variables
    .varname,
    .varname *,
    code.parameter
        color: var(--phpr-code-color-const) !important

