@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap);@import url(https://fonts.googleapis.com/css?family=Lato&display=swap);.navbar {
  min-height: 45px;
  background-color: #355c7d;
  -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
  border: none;
}

.navbar .brand {
  height: 1rem;
}

.navbar .brand img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.navbar .nav .active {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.navbar .nav li {
  line-height: 21px;
}

.navbar .nav li a {
  font-family: Droid Sans,Helvetica Neue,sans-serif;
  font-size: 15px !important;
  text-shadow: none;
  color: #E2E4EF;
  background-color: transparent !important;
  position: relative;
}

.navbar .nav li a::before {
  content: "";
  width: 96%;
  height: 3px;
  display: block;
  position: absolute;
  left: 2%;
  bottom: 0;
  border-radius: 1px;
  background-color: transparent;
  -webkit-transition: background-color 200ms;
  transition: background-color 200ms;
}

.navbar .nav li:hover a::before,
.navbar .nav li.active a::before {
  background-color: #4677a3;
}

.navbar-search {
  width: 290px;
  margin-top: 9px;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-animation: appear-scale-y 500ms;
          animation: appear-scale-y 500ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.navbar-search .twitter-typeahead {
  width: 290px;
}

.navbar-search .twitter-typeahead .tt-hint.search-query,
.navbar-search .twitter-typeahead .search-query.tt-query {
  height: 29px !important;
  -webkit-box-shadow: 1px 1px 4px #00000040;
          box-shadow: 1px 1px 4px #00000040;
  caret-color: #793862;
}

.tt-dropdown-menu {
  margin-top: 1px;
  padding-top: 0;
  border: none;
}

.tt-dropdown-menu .search {
  background-color: #4677a3;
  border-radius: 0 0 4px 4px;
  padding-right: 8px;
  padding-left: 8px;
}

.tt-dropdown-menu .result-heading {
  position: relative;
  line-height: 30px;
  font-size: 16px;
  border: none;
  text-shadow: none;
  background-color: #4677a3;
  color: #d3d6e4;
  padding-right: 12px;
  padding-left: 12px;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  text-shadow: 1px 1px 1px #02020259;
}

.tt-dropdown-menu .result-heading .collapsible {
  display: none;
}

.tt-dropdown-menu .result-heading .result-count {
  color: #d3d6e4;
  opacity: 1;
  font-size: 17px;
}

.tt-dropdown-menu .tt-suggestion {
  padding: 2px 7px;
  color: #202020;
  border: none;
  background-color: #f2f2f2;
  -webkit-transition: background-color 100ms, color 100ms;
  transition: background-color 100ms, color 100ms;
  font-family: arial;
}

.tt-dropdown-menu .tt-suggestion h4 {
  line-height: 24px;
  font-weight: bold;
  color: #355c7d;
  -webkit-transition: color 50ms;
  transition: color 50ms;
}

.tt-dropdown-menu .tt-suggestion .description {
  color: #404040;
}

.tt-dropdown-menu .tt-suggestion:nth-child(odd) {
  background-color: #e4e4e4;
}

.tt-dropdown-menu .tt-suggestion.tt-is-under-cursor h4 {
  color: #793862;
}

#layout-content {
  border: none !important;
  border-radius: 3px;
  color: #222;
  background-color: #faf9ff;
}

.layout-menu ul li a {
  border: none !important;
}

.layout-menu ul li a::before {
  content: none !important;
}

.layout-menu ul li a:hover {
  color: #6185A4;
}

.layout-menu ul li:nth-child(even) {
  background-color: #7194b112 !important;
  border-radius: 3px;
}

.layout-menu ul li .header {
  margin-top: 23px;
  display: block;
  padding: 5px 11px;
}

.layout-menu .child-menu-list li.current a {
  color: #6185A4 !important;
}

.refentry .refnamediv h1.refname {
  color: #355c7d;
  font-size: 32px;
}

.refentry .refnamediv h1.refname::after {
  content: none;
}

.refentry .refnamediv p.verinfo,
.refentry .refnamediv p.refpurpose {
  color: #4a4a4a;
  font-size: 15px;
}

.refentry .refnamediv p.verinfo .refname,
.refentry .refnamediv p.refpurpose .refname {
  color: #355c7d;
}

.refentry .refnamediv p.verinfo .dc-title,
.refentry .refnamediv p.refpurpose .dc-title {
  font-style: italic;
}

.example-contents .phpcode,
.example-contents.screen.screen {
  background-color: #313542 !important;
  padding: 70px 15px 20px 15px !important;
  padding-top: 40px !important;
  border-radius: 5px !important;
  position: relative;
}

.example-contents .phpcode:before,
.example-contents.screen.screen:before {
  content: "";
  display: block;
  width: 60px;
  height: 20px;
  background-image: url(images/buttons.png);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 10px;
  left: 12px;
}

.example-contents .phpcode code {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 16px;
}

.example-contents .phpcode span[style*="color: #0000BB"] {
  color: #acbff5 !important;
}

.example-contents .phpcode span[style*="color: #DD0000"] {
  color: #a1d7f0 !important;
}

.example-contents .phpcode span[style*="color: #007700"] {
  color: #80d9c2 !important;
}

.example-contents .phpcode span[style*="color: #FF8000"] {
  color: #797979 !important;
}

.example-contents .phpcode span[style*="color: #000000"] {
  color: #eee !important;
}

.example-contents .phpcode span {
  line-height: 28px;
}

.example-contents.screen pre {
  color: #eee5be !important;
}

.description .methodsynopsis.dc-description {
  background: #313542;
  border-radius: 4px;
  border: none;
  color: #b6d3f0;
}

.description .methodsynopsis.dc-description .methodparam code.parameter {
  color: #ffa6a6;
}

.description .methodsynopsis.dc-description .methodname b,
.description .methodsynopsis.dc-description .methodname strong,
.description .methodsynopsis.dc-description .methodname a,
.description .methodsynopsis.dc-description .methodname .classname {
  color: #b6d3f0;
}

.description .methodsynopsis.dc-description .type.callable,
.description .methodsynopsis.dc-description .type.mixed,
.description .methodsynopsis.dc-description .interfacename a,
.description .methodsynopsis.dc-description .fieldsynopsis .type,
.description .methodsynopsis.dc-description .methodsynopsis .type,
.description .methodsynopsis.dc-description .methodparam .type,
.description .methodsynopsis.dc-description .constructorsynopsis,
.description .methodsynopsis.dc-description .type.callable:hover,
.description .methodsynopsis.dc-description .type.mixed:hover {
  color: #88eef7 !important;
  border-bottom-color: #88eef7 !important;
}

.description .methodsynopsis.dc-description .methodparam .initializer,
.description .methodsynopsis.dc-description .methodparam .initializer code {
  color: #9b9b9b !important;
}

.description .interfacename a,
.description .fieldsynopsis .type,
.description .methodsynopsis .type,
.description .constructorsynopsis .typev {
  color: #e3dda3 !important;
}

.page-tools .change-language fieldset {
  height: 28px;
  width: 160px;
  display: inline-block;
  position: relative;
  background: transparent;
  border: 1px solid;
  border-color: #aaa9a9;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
}

.page-tools .change-language fieldset label {
  display: none;
}

.page-tools .change-language fieldset::before, .page-tools .change-language fieldset::after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 9px;
  right: 10px;
  width: 0;
  height: 0;
  border: 4px dashed;
  border-color: #888888 transparent;
  pointer-events: none;
}

.page-tools .change-language fieldset::before {
  border-bottom-style: solid;
  border-top: none;
}

.page-tools .change-language fieldset::after {
  margin-top: 7px;
  border-top-style: solid;
  border-bottom: none;
}

.page-tools .change-language fieldset select#changelang-langs {
  position: relative;
  width: 130%;
  margin: 0;
  padding: 6px 8px 6px 10px;
  height: 28px;
  line-height: 14px;
  font-size: 12px;
  color: #62717a;
  text-shadow: 0 1px white;
  background: rgba(0, 0, 0, 0) !important;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
}

.page-tools .change-language fieldset select#changelang-langs:focus {
  z-index: 3;
  width: 100%;
  color: #394349;
  outline: 2px solid #6185A4;
  outline: 2px solid -webkit-focus-ring-color;
  outline-offset: -2px;
}

.page-tools .change-language fieldset select#changelang-langs > option {
  margin: 3px;
  padding: 6px 8px;
  text-shadow: none;
  background: #f2f2f2;
  border-radius: 3px;
  cursor: pointer;
}

.page-tools .edit-bug {
  margin-top: 4px;
}

.page-tools .edit-bug a {
  margin-right: 4px;
  margin-left: 5px;
  font-size: 14px;
  text-transform: uppercase;
}

.page-tools .edit-bug a:hover {
  color: #4677a3 !important;
}

#breadcrumbs {
  padding: 16px 0;
}

#breadcrumbs #breadcrumbs-inner .next a,
#breadcrumbs #breadcrumbs-inner .prev a {
  -webkit-transition: color 100ms;
  transition: color 100ms;
  font-size: 15px;
}

#breadcrumbs #breadcrumbs-inner .next a:hover,
#breadcrumbs #breadcrumbs-inner .prev a:hover {
  color: #8DAECA !important;
}

#breadcrumbs #breadcrumbs-inner ul li::before {
  padding: 0 7px 0 5px;
  font-size: 16px;
  color: #457c91;
}

#breadcrumbs #breadcrumbs-inner ul li a {
  -webkit-transition: color 100ms;
  transition: color 100ms;
  font-size: 15px;
  display: inline-block;
  border-bottom: 1px solid #355c7d;
  border-radius: 0 0 0 10px;
  padding-left: 7px;
}

#breadcrumbs #breadcrumbs-inner ul li a:hover {
  color: #8DAECA !important;
}

#layout .title {
  color: #373737;
  margin-bottom: 4px;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
}

#layout .title a.genanchor {
  display: none;
}

#layout .title::after {
  content: none;
}

#layout .title::before {
  content: "#";
  color: #355c7d;
  margin: 0;
  display: inline;
  width: auto;
  margin-right: 4px;
  font-weight: normal;
}

html {
  background: #15202b;
}

body {
  font-family: 'Lato', sans-serif;
}

#toTop {
  -webkit-filter: invert(0.5);
          filter: invert(0.5);
}

@-webkit-keyframes appear-scale-y {
  from {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  to {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes appear-scale-y {
  from {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  to {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
