@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap);.navbar {
  min-height: 45px;
  background-color: #355c7d;
  -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
  border: none;
}

.navbar .brand {
  height: 1rem;
}

.navbar .brand img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.navbar .nav .active {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.navbar .nav li {
  line-height: 21px;
}

.navbar .nav li a {
  font-family: Droid Sans,Helvetica Neue,sans-serif;
  font-size: 15px !important;
  text-shadow: none;
  color: #E2E4EF;
  background-color: transparent !important;
  position: relative;
}

.navbar .nav li a::before {
  content: "";
  width: 96%;
  height: 3px;
  display: block;
  position: absolute;
  left: 2%;
  bottom: 0;
  border-radius: 1px;
  background-color: transparent;
  -webkit-transition: background-color 200ms;
  transition: background-color 200ms;
}

.navbar .nav li:hover a::before,
.navbar .nav li.active a::before {
  background-color: #4677a2;
}

.navbar-search {
  width: 290px;
  margin-top: 9px;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-animation: appear-scale-y 500ms;
          animation: appear-scale-y 500ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.navbar-search .twitter-typeahead {
  width: 290px;
}

.navbar-search .twitter-typeahead .tt-hint.search-query,
.navbar-search .twitter-typeahead .search-query.tt-query {
  height: 29px !important;
  -webkit-box-shadow: 1px 1px 4px #00000040;
          box-shadow: 1px 1px 4px #00000040;
  caret-color: #793862;
}

.tt-dropdown-menu {
  margin-top: 1px;
  padding-top: 0;
  border: none;
}

.tt-dropdown-menu .search {
  background-color: #4677a2;
  border-radius: 0 0 4px 4px;
  padding-right: 8px;
  padding-left: 8px;
}

.tt-dropdown-menu .result-heading {
  position: relative;
  line-height: 30px;
  font-size: 16px;
  border: none;
  text-shadow: none;
  background-color: #4677a2;
  color: #d3d6e4;
  padding-right: 12px;
  padding-left: 12px;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  text-shadow: 1px 1px 1px #02020259;
}

.tt-dropdown-menu .result-heading .collapsible {
  display: none;
}

.tt-dropdown-menu .result-heading .result-count {
  color: #d3d6e4;
  opacity: 1;
  font-size: 17px;
}

.tt-dropdown-menu .tt-suggestion {
  padding: 2px 7px;
  color: #202020;
  border: none;
  background-color: #f2f2f2;
  -webkit-transition: background-color 100ms, color 100ms;
  transition: background-color 100ms, color 100ms;
  font-family: arial;
}

.tt-dropdown-menu .tt-suggestion h4 {
  line-height: 24px;
  font-weight: bold;
  color: #355c7d;
  -webkit-transition: color 50ms;
  transition: color 50ms;
}

.tt-dropdown-menu .tt-suggestion .description {
  color: #404040;
}

.tt-dropdown-menu .tt-suggestion:nth-child(odd) {
  background-color: #e4e4e4;
}

.tt-dropdown-menu .tt-suggestion.tt-is-under-cursor h4 {
  color: #793862;
}

#layout-content {
  border: none;
  border-radius: 2px;
  color: #222;
  background-color: #faf9ff;
}

.layout-menu ul li a {
  border: none !important;
}

.layout-menu ul li a::before {
  content: none !important;
}

.layout-menu ul li:nth-child(even) {
  background-color: #7194b112 !important;
  border-radius: 3px;
}

.layout-menu ul li .header {
  margin-top: 23px;
  display: block;
  padding: 5px 11px;
}

html {
  background: #15202b;
}

#toTop {
  -webkit-filter: invert(0.5);
          filter: invert(0.5);
}

.example-contents .phpcode,
.example-contents.screen.screen {
  background-color: #313542 !important;
  padding: 65px 15px 20px 15px !important;
  padding-top: 40px !important;
  border-radius: 5px !important;
  position: relative;
}

.example-contents .phpcode:before,
.example-contents.screen.screen:before {
  content: "";
  display: block;
  width: 60px;
  height: 20px;
  background-image: url(images/buttons.png);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 10px;
  left: 12px;
}

.example-contents .phpcode code {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 16px;
}

.example-contents .phpcode span[style*="color: #0000BB"] {
  color: #acbff5 !important;
}

.example-contents .phpcode span[style*="color: #DD0000"] {
  color: #a1d7f0 !important;
}

.example-contents .phpcode span[style*="color: #007700"] {
  color: #80d9c2 !important;
}

.example-contents.screen pre {
  color: #eee5be !important;
}

@-webkit-keyframes appear-scale-y {
  from {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  to {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes appear-scale-y {
  from {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  to {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
