@use 'sass:string'

$chrome-image: "chrome-extension://__MSG_@@extension_id__/images/"
$firefox-image: "moz-extension://__MSG_@@extension_id__/images/"

@mixin heading
    color: var(--phpr-color-font)

    &::after
        border: 1px solid var(--phpr-color-border)

@mixin php-code-window
    padding: 25px !important
    border-radius: 10px !important
    overflow-x: auto !important
    position: relative
    background-color: var(--phpr-code-bg) !important

@mixin inline-code
    font-family: var(--phpr-font-code)
    font-size: 18px
    background-color: #656c7633
    color: var(--phpr-color-font) !important
    font-weight: normal !important
    padding: 1px 7px
    font-size: 1rem
    border-radius: 6px

    a
        border: none !important
        color: var(--phpr-color-font) !important

@mixin link($is-important: false)
    $important: if($is-important, !important, null)

    color: var(--phpr-color-link) #{$important}
    border: none
    transition: color .2s

    &:hover
        color: var(--phpr-color-link-hover) #{$important}
        text-decoration: underline

@mixin php-code
    font-family: var(--phpr-font-code)
    font-size: 1rem
    color: #e6e6e6 !important
    outline: none

    .line-numbers-rows
        top: -6px !important

    span.html
        color: #e6e6e6 !important

    span[style*="color: #0000BB"],
    span[style*="color: rgb(0, 0, 187);"],
    span.default
        color: #acbff5 !important

    span[style*="color: #DD0000"],
    span[style*="color: rgb(221, 0, 0)"],
    span.string
        color: #a1d7f0 !important

    span[style*="color: #007700"],
    span[style*="color: rgb(0, 119, 0);"],
    span.keyword
        color: #80d9c2 !important

    span[style*="color: #FF8000"],
    span[style*="color: rgb(255, 128, 0)"],
    span.comment
        color: #8d8d8d !important

    span[style*="color: rgb(0, 0, 0)"],
    span[style*="color: #000000"]
        color: #eee !important

    span.function
        color: #ff4f73 !important

    span
        line-height: 28px
        text-shadow: none

@mixin content-url($url)
    .is-chrome &
        content: url($chrome-image + $url) !important

    .is-firefox &
        content: url($firefox-image + $url) !important

@mixin background-url($url, $extra: "")
    .is-firefox &
        background: url(string.unquote($firefox-image + $url)) string.unquote($extra)

    .is-chrome &
        background: url(string.unquote($chrome-image + $url)) string.unquote($extra)

@mixin card-date()
    time
        color: var(--phpr-color-font-secondary)
        font-weight: normal
        font-size: 16px
        float: none
        position: absolute
        line-height: 19px
        bottom: 15px
        right: 22px

        &::before
            content: ""
            background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAAsTAAALEwEAmpwYAAABdUlEQVR4nO2ZX0rDQBCHP7DkGHoI2webeiOLoBeR4hGU9kmlPvXPbWI8gPpYshLYh2FJKdlkdzXMB/O05bfzm0xmwxYURVH+AzNgBZTAATCB4gB8AEsg7yPxEfAYMGFzIhY2B29SJm+ECe+2kUJvwCWQEY4MGANrsW8FTH3EVkKkFozNi9j/2UegFAJ15WMzFvsXPgJy2oRsm2NkznRqjez/VJguOZg/Fq1JnbBRAwzoHUiFUQMM9AlcAHvgB9gB5w2/uQU+bcw9NUwoA3tnfeusXzvrlf04bKMR1MC3s/7lrN83zPG7lhpBDexOVG/W8ATylhrB34GtreLmSP/O7RdtHTeeGkbHKAMdo7EwaoBwB1nSJ9DHQZbUQB8HWVIDfRxkSQ30cZB1zWH41ypl4outSdeLraUQeCc+r2L/Jx+B3OnBta1K6MvdiS2YHABXvoKLhnEYOx66VGSU0ERlkz+jB6b2iruI8BdTYffybhtFURSi8QtRuinIniP4GgAAAABJRU5ErkJggg==')
            background-size: 100%
            position: absolute
            left: -28px
            top: -1px
            opacity: .5
            width: 21px
            height: 21px

            .dark &
                filter: invert(1)
