@mixin php-code-window
    padding: 25px !important
    border-radius: 10px !important
    overflow-x: auto !important
    position: relative

@mixin php-code
    font-family: $code-font
    font-size: 16px
    color: #e6e6e6

@mixin content-url($url)
    .is-chrome &
        content: url($chrome-image + $url) !important

    .is-firefox &
        content: url($firefox-image + $url) !important

@mixin background-url($url, $extra: "")
    .is-firefox &
        background: url(unquote($firefox-image + $url)) unquote($extra)

    .is-chrome &
        background: url(unquote($chrome-image + $url)) unquote($extra)