$chrome-image: "chrome-extension://__MSG_@@extension_id__/images/"
$firefox-image: "moz-extension://__MSG_@@extension_id__/images/"

:root
    --phpr-color-page: white
    --phpr-color-page-darker: #f2f2f2
    --phpr-color-font: #222
    --phpr-color-font-secondary: #757575
    --phpr-color-border: #ddd
    --phpr-color-main: #355c7d
    --phpr-color-main-darker: #2d5270
    --phpr-color-link: #355c7d
    --phpr-color-link-hover: #284a68
    --phpr-color-link-lighter: #2e6d9f
    --phpr-color-link-light: #7899B5
    --phpr-color-link-light-hover: #6c8aa4

    // TODO: refactor names
    --phpr-classic-color: #7a86b8
    --phpr-classic-color-hover: #5c6ca9
    --phpr-light-color: #e2e4ec
    --phpr-dark-color: #333333
    --phpr-dark-color-hover: #222222
    --phpr-primary-color: #793862
    --phpr-font-light-color: #d3d6e4
    --phpr-grey-color: #4a4a4a
    --phpr-light-grey: #aaa9a9
    --phpr-code-bg: #2b2e3a
    --phpr-code-font-color: #f9f4de !important
    --phpr-code-red: #b72c25 !important

    --phpr-main-font: 'Lato', sans-serif
    --phpr-code-font: 'Ubuntu Mono', monospace

    --phpr-shadow-glow-sm: 0 0 10px rgba(120,175,230,.6)

    // Search results page
    --phpr-search-height: 45px
    --phpr-search-border-radius: 8px
    --phpr-search-results-width: 660px

html.dark
    --phpr-color-page: #15202b
    --phpr-color-page-darker: #121d28
    --phpr-color-font: #dedede
    --phpr-color-font-secondary: #adadad
    --phpr-color-border: #192a3b
    --phpr-color-link: #568ab6
    --phpr-color-link-hover: #6193bd
