:root
    --phpr-color-page: white
    --phpr-color-page-secondary: #f2f2f2
    --phpr-color-font: #222
    --phpr-color-font-secondary: #757575
    --phpr-color-border: #ddd
    --phpr-color-border-hover: #cfcfcf
    --phpr-color-main: #355c7d
    --phpr-color-main-darker: #2d5270
    --phpr-color-link: #355c7d
    --phpr-color-link-hover: #284a68
    --phpr-color-link-lighter: #2e6d9f
    --phpr-color-link-light: #7899B5
    --phpr-color-link-light-hover: #6c8aa4
    --phpr-color-primary: #793862

    --phpr-font-main: 'Lato', sans-serif
    --phpr-font-code: 'Ubuntu Mono', monospace

    // Search results page
    --phpr-search-height: 45px
    --phpr-search-border-radius: 8px
    --phpr-search-results-width: 660px

    // Code colors
    --phpr-light-color: #e2e4ec
    --phpr-dark-color: #333333
    --phpr-code-bg: #2b2e3a
    --phpr-font-code-color: #f9f4de !important
    --phpr-code-red: #b72c25 !important

html.dark
    --phpr-color-page: #15202b
    --phpr-color-page-secondary: #121d28
    --phpr-color-font: #dedede
    --phpr-color-font-secondary: #adadad
    --phpr-color-border: #192a3b
    --phpr-color-border-hover: #253a4f
    --phpr-color-link: #5f93c0
    --phpr-color-link-hover: #6ba0cd
